<?xml version="1.0"?>
<robot name="hoop">

<link name="hoop_link">

  <collision>
  </collision>
  <!--collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://ur_description/meshes/hoop/hoop.dae" scale="0.005 0.005 0.005"/>
    </geometry>
  </collision-->

  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://ur_description/meshes/hoop/hoop.dae" scale="0.0055 0.0055 0.0055"/>
    </geometry>
  </visual>

  <inertial>
   <origin xyz="0 0 0" rpy="0 0 0"/>
   <mass value="0.05" />
   <inertia
      ixx="0.00000379215" ixy="0.0"  ixz="0.0"
      iyy="0.00000379215" iyz="0.0"  izz="0.00000379215" />
  </inertial>

</link>

<gazebo>
    <static>true</static>
</gazebo>

<gazebo reference="hoop_link">
  <mu1>100</mu1>
  <mu2>100</mu2>
  <kp>2147483647</kp>
  <kd>1</kd>
  <maxVel>100</maxVel>
  <minDepth>0.001</minDepth>
</gazebo>

</robot>
