<?xml version="1.0" encoding="utf-8"?>
<robot name="liukuhihna_gazebo">

	<link name="world" />

	<joint name="fixed" type="fixed">
		<parent link="world"/>
		<child link="belt_visual"/>
		<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0"/>
	</joint>

	<link name="belt_visual">
		<inertial>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<mass value="71.953" />
			<inertia ixx="7.5972" ixy="-1.394E-14" ixz="1.9328E-17" iyy="0.99673" iyz="-9.2056E-18" izz="8.1168" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<mesh filename="package://ur_description/meshes/conveyor_belt.stl" scale="1 2 1"/>
			</geometry>
			<material name="black">
				<color rgba="0 0 0 1" />
			</material>
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<mesh filename="package://ur_description/meshes/conveyor_belt.stl" scale="1 2 1"/>
			</geometry>
		</collision>
	</link>

	<gazebo>
   		<static>true</static>
	</gazebo>

	<gazebo reference="conveyor_link">
  	  <mu1>100</mu1>
  	  <mu2>100</mu2>
	  <kp>2147483647</kp>
	  <kd>1</kd>
	  <maxVel>100</maxVel>
	  <minDepth>0.001</minDepth>
	</gazebo>

</robot>
